:root {
  --brand-color: #001fd4;
  --accent-color: #C5FEC2;
  --gray-color: #cccccc;
  --transition-fast: 2s;
  --transition-slow: 0.4s;
  --brand-font-family: neue-haas-grotesk-display, "Helvetica Neue", "Helvetica","Arial", _sans;
  --menu-height: 64px;
  --logo: url(https://cdn.glitch.global/bc1cc334-d90d-426e-ad38-3d47d681cce9/BD_logo_blue.svg?v=1667899130416);
  --logo-white: url(https://cdn.glitch.global/bc1cc334-d90d-426e-ad38-3d47d681cce9/BD_logo_white.svg?v=1667899130769);
  --logo-txt: url(https://cdn.glitch.global/bc1cc334-d90d-426e-ad38-3d47d681cce9/BD_logo%2Btext_blue.svg?v=1667899129584);
  --font-size: 18px;
  --font-weight-black: 600;
  --font-weight-bold: 500;
  --font-weight-normal: 300;
  --font-weight-light: 200;
  --jaaps-padding: 40px;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--brand-font-family);
  font-size: var(--font-size);
  color: var(--brand-color);
  font-weight: var(--font-weight-normal);
}
a {
  text-decoration: none;
}
a:hover {
  /*   font-weight: 500; */
}
h1 {
  font-size: 2em;
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.5em;
  letter-spacing: 0.05em;
}
h2{
  font-size: 1em;
  font-weight: var(--font-weight-bold);
  margin-bottom: 1em;
}

p,
li {
  font-weight: var(--font-weight-normal);
  letter-spacing: 0.05em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
strong {
  font-weight: var(--font-weight-black);
}
main{
  z-index: 99;
  min-height: calc(100vh - 60px);
  margin: 0px;
}
footer {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-color);
  color: white;
  text-align: center;
  font-size: 0.8em;
  font-weight: var(--font-weight-bold);
}
footer a {
  border-bottom: 1px solid transparent;
  margin: 10px;
  text-decoration: none;
  color: white;
}
footer a:hover {
  border-bottom: 1px solid white;
  color: white;
}
#header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top: 0;
  height: var(--menu-height);
  width: 100%;
  z-index: 999;
  padding: 10px 20px 10px 10px;
}
#logo {
  background-image: var(--logo);
  background-size: contain;
  min-width: 200px;
  height: 100%;
  background-position: left center;
  background-repeat: no-repeat;
}
#menu a {
  display: inline-block;
  color: var(--brand-color);
  transition: 0 var(--transition-fast) all;
  text-align: center;
}
#menu a:hover {
  color: var(--accent-color);
}

#menu span:not(:last-child):after {
  content: "|";
  padding: 0 10px;
}
#hamburger,
#hamburger-label {
  position: relative;
  display: none;
  z-index: 999;
  margin-right: 20px;
  height: 40px;
  width: 40px;
}

.hamburger-bar {
  position: absolute;
  right: 0;
  top: 18px;
  width: 32px;
  height: 2px;
  background-color: var(--brand-color);
  transition: 0.5s all;
  transform-origin: center;
  pointer-events: none;
}

.bar1 {
  transform: translateY(-6px);
}
.bar2 {
  transform: translateY(0px);
}
.bar3 {
  transform: translateY(6px);
}

@media only screen and (max-width: 1400px) {

  #menu {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: 0.25s all;
    opacity: 0;
    transform: translateY(-100vh);
    font-size: 10vh;
  }
  #hamburger:checked ~ #menu {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-color);
    color: white;
    opacity: 1;
    transform: translateY(0vh);
  }
  #menu a {
    color: white;
  }
  #menu a:hover{
    color: white;
    opacity: 0.5;
  }
  #menu span:not(:last-child):after {
    content: "";
    padding: 0;
  }

  #hamburger-label {
    display: block;
  }
  #hamburger:checked ~ #hamburger-label {
    color: white;
  }
  #hamburger:checked ~ #hamburger-label .bar1 {
    transform: translateY(0px) rotate(-45deg);
    background-color: white;
  }
  #hamburger:checked ~ #hamburger-label .bar2 {
    transform: translateY(0px);
    opacity: 0;
  }
  #hamburger:checked ~ #hamburger-label .bar3 {
    transform: translateY(0px) rotate(45deg);
    background-color: white;
  }
}
@media only screen and (max-width: 960px) {
  #header{
    padding: 10px;
  }
}
@media only screen and (max-width: 480px) {
}
